.navbar {
  width: 100%;
  padding: 4px 24px;
  background-color: var(--primary);
  color: var(--neutral-very-light);
  display: flex;
  justify-content: space-between;
}

.navbar__name {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.navbar__name h1 {
  margin: 8px;
}
.navbar__items {
  display: flex;
  align-items: center;
  padding-right: 24px;
  font-size: 20px;
  margin: 0;
}

.navbar__item {
  margin-left: 24px;
  list-style-type: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.navbar__item:hover:not(.user) {
  cursor: pointer;
  background-color: var(--neutral-dark);
}

.navbar__item:hover .add_btn {
  background-color: var(--secondary);
}

.-main {
  margin-left: 60px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.add_btn {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background-color: var(--secondary-light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  padding: 0px 4px;
}

.logout {
  display: flex;
  align-items: center;
  width: 48px;
  justify-content: center;
  transition: 0.5s;
}

.logout:hover {
  transform: scale(1.4);
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
