* {
  box-sizing: border-box;
}

.topbar {
  margin: auto;
  padding: 5px 10px;
  width: 100%;
  border-bottom: 5px solid var(--neutral-very-light);
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar-green {
  background-color: var(--secondary);
  color: var(--neutral-very-light);
}

.topbar-grey {
  background-color: var(--neutral-dark);
}
