.table__invoices {
  width: 100%;
  border-collapse: collapse;
}
.table__invoices td,
.table__invoices th {
  border: 1px solid var(--neutral-light);
  margin: 0;
  padding: 6px 4px;
}

.table__header {
  color: var(--neutral-very-dark);
  font-size: 10px;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}
