.avatar {
  width: 48px;
  height: 48px;
  font-size: 20px;
  border-radius: 50%;
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin: 0;
}
