.user-info {
  display: block;
  margin: auto;
  width: 1400px;
  padding: 20px;
  background-color: var(--neutral-very-light);
  max-width: 400px;
  margin: 32px auto;
  box-shadow: 0px 2px 5px 1px var(--neutral-dark);
}

.company-data {
  display: flex;
  align-items: center;
}

.company-data h3 {
  font-size: 14px;
  width: 120px;
  margin: 4px 0px;
}
.company-data p {
  margin: 4px 0px;
}
