/* general */
.form-body {
  padding: 8px 0px;
  display: flex;
  align-items: stretch;
}

.form-body > label,
.radio__label-list {
  flex: 0 0 120px;
  text-align: right;
  padding-right: 8px;
}
.form-body > label {
  margin-top: 4px;
}

.input-field {
  flex: 1 1 auto;
}
.input-field > :first-child {
  height: 28px;
  border: 1px solid var(--neutral-dark);
  border-radius: 2px;
  text-align: right;
  width: 90%;
  font-family: var(--font);
  font-size: 16px;
}

.add-btn-container {
  display: flex;
  width: 100%;
  padding: 0;
}
.add-btn-container select {
  border: none;
  flex-grow: 1;
  font-family: var(--font);
  font-size: 16px;
}

/* data type input */

.input-field-date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.react-date-picker__wrapper {
  border: none;
  font-size: 16px;
}
.react-date-picker__wrapper svg {
  width: 12px;
  padding: 0px;
}

::-webkit-input-placeholder {
  font-size: 14px;
}

/* select */

/* errors styling */

.error,
.error-radio {
  color: var(--danger-light);
  font-size: 12px;
  height: 14px;
}

/* radio */
.radio label {
  width: auto;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.radio input {
  margin: 0px 8px;
}

/* radio - list */
.radio__label-list {
  border-right: 1px solid var(--neutral-dark);
}
.radio-list {
  display: flex;
  flex-direction: column;
}

.container-inline {
  display: flex;
}

/* radio - inline */
.radio__label-inline {
  font-weight: bold;
}
.radio-inline {
  display: flex;
}

.radio-inline input {
  margin-left: 16px;
}

.container-inline {
  display: flex;
  align-items: flex-start;
}
