/* invoices table */

.table__container {
  margin: auto;
  background-color: var(--neutral-very-light);
}

/* containers */

.container__flex-row {
  display: flex;
  justify-content: center;
}

/* section */
.section {
  max-width: 1200px;
  margin: 32px auto;
  box-shadow: 0px 2px 5px 1px var(--neutral-dark);
}

.txt-blue {
  color: var(--primary-light);
}
.txt-vsmall {
  font-size: 12px;
  color: var(--neutral-dark);
}
.txt-bold {
  font-weight: bold;
}
.show-details {
  cursor: pointer;
}
