.btn {
  border-radius: 2px;
  border: none;
  margin: 5px 2px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

/* size */
.btn-full {
  width: 100%;
  height: 30px;
  font-size: 12px;
}
.btn-small {
  height: 20px;
  width: 60px;
  font-size: 10px;
}
.btn-large {
  height: 26px;
  width: 120px;
  font-size: 12px;
}

.btn-square {
  height: 24px;
  width: 24px;
  background-color: rgb(230, 230, 230);
  color: white;
  padding: 2px;
}
/* color */
.btn-green {
  background-color: rgb(41, 162, 71);
  color: white;
}

.btn-grey {
  background-color: rgb(235, 235, 235);
}

.btn-dark-grey {
  color: rgb(99, 99, 99);
}

/* speciall styling */

.contractor {
  position: relative;
  left: 238px;
  top: -25px;
}
