.alert {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-msg {
  padding-right: 36px;
  margin: 0;
}

.pass {
  background-color: var(--success-light);
}

.fail {
  background-color: var(--danger-light);
}
