.invoice__details-section {
  padding: 24px 16px;
  background-color: var(--neutral-very-light);
  border-bottom: 1px solid var(--neutral-light);
}

.container-flex-main {
  display: flex;
  justify-content: space-around;
}

.container-flex {
  display: flex;
  text-align: center;
  flex-basis: 30%;
}

.container-flex h4,
.container-flex h3 {
  font-size: 14px;
  margin: 0 8px;
  min-width: 130px;
  text-align: right;
}

.container-flex-date {
  display: flex;
  flex-direction: column;
}

.one-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.txt-highlited {
  font-weight: bold;
  font-size: 20px;
}
.summary {
  margin-left: auto;
  right: 0;
  padding: 24px;
  border: 1px solid var(--neutral-light);
  width: 400px;
}
.text-separate {
  margin: 8px 0px;
  justify-content: space-between;
}

.address p {
  margin-top: 0;
  text-align: left;
  margin-bottom: 4px;
}

/* stlying for buttons in InvoiceDetails component  */
.invoiceDetails-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invoiceDetails-btn div {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
}

.invoiceDetails-btn div > *,
.invoiceDetails-btn > * {
  margin: 0px 4px;
}
